<h4><small>MY POSTS</small></h4>
{{#each posts as |post| }}
<hr>
<h2>{{ post.title }}</h2>
<h5><span class="glyphicon glyphicon-time"></span> Posted on .</h5>
<p>{{ post.text }}</p>
<br><br>
{{/each}}

<hr>
<h4>Post an Article</h4>
<form role="form">
    <div class="form-group">
        <textarea class="form-control" rows="3" required></textarea>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>